@use '../vendor/bootstrap' as *;
@use '../theme/app-theme'  as *; 

.btn--primary{
    background-color: var(--primary-color);
}
.btn--alter{
    background-color: var(--secondary-color);
}

.btn--large{
    padding: 1.0rem 2.4rem!important;
}
.cs--btn{
    color: var(--text-color);
    border:none;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0.6rem 0.6rem;

    &:focus{
        box-shadow: none;
    }

    &:hover{
       color: #eee;
    }

}